.ActionOverlay
  position fixed
  top 0
  left 0
  z-index 10000

  width 100%
  height 100%

  flexbox()
  flex-direction(column)
  flex(1)
  align-items(center)
  justify-content(center)

.ActionOverlay .ActionOverlayBox
  flexbox()
  flex-direction(column)
  align-items(center)

  border-radius 8px
  overflow hidden

  color rgba(255,255,255,1)
  font-size 18px
  font-weight light

.ActionOverlay--header
  background-color rgba(0,0,0,0.85)
  box-sizing border-box
  width 100%
  border-bottom 1px solid alpha(white, 0.2)
  padding 12px 20px

  font-size 20px
  font-weight 300

  text-align center

.ActionOverlay--content
  box-sizing border-box
  background-color rgba(0,0,0,0.75)
  padding 12px 15px

