.ImageLoader-container
  flexbox()
  flex(1)

  height 100%
  width 100%
  position relative

.ImageLoader
  position absolute
  top 0
  left 0
  height 100%
  width 100%

  flexbox()
  flex(1)
  align-items(center)
  justify-content(center)

.image-load.spinner
  color lighten($background-color, 40%)
  font-size 44px

.spinner
  animation spin 2s infinite linear
