$modal-border-color = rgb(255,255,255)

.info-container
  font-size 16px

  h3
    font-size 16px
    font-weight 300
    margin-top 0
    margin-bottom 5px
    padding-bottom 5px
    border-bottom 1px solid alpha($modal-border-color, 0.7)

  table
    width 100%

  tr
    td
      border-top 1px solid alpha($modal-border-color, 0.2)
    &:first-child td
      border-top none

  th, td
    text-align left

  th
    font-weight 400

  td
    font-weight 300

  td.info-key
    color $color-emphasis
    font-weight bold
    font-family 'Monano', monospace

  td, th
    padding-top 8px
    padding-bottom 8px
    &:last-child
      padding-left 20px

  min-width 400px

.info-content
  padding 15px 20px

