@import 'mixins/misc'
@import 'mixins/flexbox'
@import 'variables'
@import 'animations'

// components
@import 'ActionOverlay'
@import 'ImageLoader'
@import 'Rating'
@import 'Thumbnail'
@import 'ThumbnailPane'
@import 'info-container'

html, body
  height 100%

body
  font-family 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  background-color $background-color

a, a:visited
  color $link-color


.SlideShowPage
  flexbox()
  height 100%
  color $text-color

.image-view
  flexbox()
  flex-direction(column)
  flex-wrap(nowrap)
  flex(auto)
  align-items(stretch)
  align-content(stretch)

  // height 100%

.example-enter
  opacity 0
  transition opacity 0.001s ease-in

.example-enter.example-enter-active
  opacity 1

.example-leave-active
  opacity 1
  transition opacity 0.25s ease-in

.example-leave.example-leave-active
  opacity 0


.title-bar
  flexbox()
  position relative
  height $title-bar-height
  align-items(center)
  justify-content(center)
  color $text-color-bright
  font-size 22px
  border-bottom 1px solid $border-color

  overflow hidden
  white-space nowrap
  text-wrap none
  text-overflow ellipsis

  .title
    flex(1)
    padding 0 10px
    text-align center
    align-items(center)
    justify-content(center)

.ActionButtonsPane
  position relative
  height 0
  width 100%
  font-size 22px
  z-index 20000

  .ActionButtonsPane--container
    position absolute
    top 0
    left 0
    height $action-buttons-size
    width 100%
    border-bottom 1px solid $border-color
    background-color alpha($background-color, .8)

    flexbox()
    align-items(center)
    justify-content(center)

  opacity 0
  transition opacity .2s ease-in
  &.visible
    opacity 1

  a.action-button
    flexbox()
    align-items(center)
    justify-content(center)

  .action-button
    // reset
    border none
    outline none
    padding 0
    margin 0

    height 100%
    width $action-buttons-size

    background-color transparent

    text-align center

    noselect()
    cursor pointer

    color $link-color
    &:active, &:hover
      background-color $background-color
      color white


.comments-bar
  width 200px
  min-width 200px
  border-left 1px solid $border-color
  padding 10px 12px
  font-size 13px
  overflow-y auto

  word-wrap break-word

.comment
  margin-bottom 10px
  .comment-header
    margin-bottom 3px
  .time
    margin-left 5px
  .user
    margin-left 8px
    font-weight bold
  .message
    line-height 16px
    color rgb(195,200,210)

.LoadingOverlay
  display: flex
  align-items: center
  justify-content: center
  color: $text-color
  position: absolute
  inset: 0