.Rating
  display inline-block
  width 24px
  height 24px
  line-height 24px
  border-radius 24px
  border 1px solid #999
  text-align center
  font-size 16px
  font-weight light

  margin-right 12px

  &.negative
    border-color $color-assertive

  &.positive
    border-color $color-positive
