.Thumbnail
  display inline-block
  box-sizing border-box
  position absolute
  left 50%

  border 2px solid black
  opacity 0.4

  cursor pointer

  &.active, &.active:hover
    border 2px solid white
    opacity 1
    cursor default

  &:hover
    border 2px solid $color-emphasis
    opacity 1
