.ThumbnailPane
  display block
  width 100%
  position relative
  overflow hidden

  border-top 1px solid $border-color

.ThumbnailPane--container
  width 100%
  height 100%
  top 0
  position absolute
