vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

noselect()
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

transition()
  vendor('transition', arguments)

transform()
  vendor('transform', arguments)
  -sand-transform arguments

transform-origin()
  vendor('transform-origin', arguments)

box-shadow()
  vendor('box-shadow', arguments)

box-sizing(value)
  -webkit-box-sizing: value
  -moz-box-sizing: value
  box-sizing: value
